body {
    font-family: 'Open Sans', serif;
    color: yellow;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
}

h1, h2 {
    font-family: 'Oswald', serif;
}

.horizontal-menu a {
    padding: 40px;
    margin-right: 40px;
}